<!doctype HTML>
<html>
<head>
    <title>Error</title>
    <link href="/stylesheets/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>A Fatal Error! Oh No!</h1>
    <p><%= error %></p>
    <p>Message @Galxexion#0612 if this is on production!</p>
</body>
</html>