<% var rootPath='../' ; %>
<%- include(rootPath + 'templates/header.ejs' ); %>
<div class="aboutWebsite">
    <h1>This is a tech demo showcasing the abilitys of Galexion to create a website that holds missions with mission data for a user.</h1>
    <h3>This contains code from the TailLights Project.<br>This is a restarted VerMixxion.</h3>
    
    <div class="faq">
        <h2>FAQ</h2>
        <details>
               <summary>How (should) this project work?</summary> 
               append <code>/user/[User]</code>, replacing the user field with your username. <b>Remember this username, as there is no user account code included in this project.</b>
        </details>
        <details>
               <summary>When should this project be done?</summary> 
               I don't know when I will be done, but i expect to get this knocked out with-in a week of free time if I can.
        </details>
        <details>
               <summary>Why did you reset the vermixxion project?</summary> 
           the last time I touched that project was in Mid December, and I never commented any of the code, making it a hassle to get back into the code, and with <b>certain restrictions</b> placed by blithering idiots who dont know what they are doing, coupled with the fact that the code was stored on a slow computer, I've had to switch to a IDE As A Service website. this way I can enable a VPN, install a proxy, and completely avoid using school internet, as I do not trust the NYCDOE, and made it clear that they have no disregard for student data. fuck you doe, and fuck you higher ups.
        </details>
    </div>
</div>

<%- include(rootPath + 'templates/footer.ejs' )%>