<% var rootPath='../' ; %>
<%- include(rootPath + 'templates/header.ejs' ); %>
  <div class="content">
  <%
  if(data.user === undefined) {%>
  Hello, User.
  <% } else {%>
  <p>Hello, <%= data.user %></p>
  <%}%>
  </div>
<%- include(rootPath + 'templates/footer.ejs' )%>
